In [197]:
# Dependencies
import numpy as np
import pandas as pd
import re
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [198]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [199]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [200]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [201]:
#  3. Convert the June temperatures to a list.
list_results = list(results)

In [202]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(list_results, columns=['date','temperature June'])
df.set_index(df['date'], inplace=True)

In [203]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       temperature June
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [204]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results12 = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [205]:
# 7. Convert the December temperatures to a list.
list_results12 = list(results12)

In [206]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df12 = pd.DataFrame(list_results12, columns=['date','temperature December'])
df12.set_index(df12['date'], inplace=True)

In [207]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df12.describe()

       temperature December
count           1517.000000
mean              71.041529
std                3.745920
min               56.000000
25%               69.000000
50%               71.000000
75%               74.000000
max               83.000000